/* ======================================================== UXUI Custom CSS ======================================================== */

body {
    margin: 0;
    counter-reset: wizardcounter;
}

.styleNavigator {
    padding: 1rem ;
    color: #FDFDFD;
    background-color:#9AB4CB;
}

.styleNavigator p {
    padding: 0 !important;
    margin: 0 !important;
}


/*border bawah sub-title*/
.styleOrangeHR {
    color: #d8d8d8;
}

td {
    padding: 0px;
}

[style*=header_biru] td[halign=center] {
 padding-right: 2.7%;
}

#modernbricksmenu2 {
    border-top: 2px solid rgba(221, 34, 237, 0) !important;
}

#modernbricksmenu2 a{
    padding: 10px !important;
    border-radius: 4px;
    background-color: transparent!important;
    background-image: none !important;
    border: 1px solid white !important;
    color: #FDFDFD !important;
    font: normal 14px Arial !important;
    margin: 5px 18px 7px -11px !important;
    transition: all .3s ease-in-out;
}

#modernbricksmenu2 a:hover{
    background-color: #2f569b !important;
}

#bd{
    background-color: transparent !important;
    position: absolute;
    left: 18px;
    top: 108px;
    transition: all .3s ease-in-out;
}

#productsandservices > .bd > .first-of-type { 
    color: #0b0205;
    background-color: #FFD35D;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

#productsandservices > .bd > .first-of-type > li {
    background-image: none !important;
}

.yuimenubaritemlabel {
    font-size: 14px !important;
    text-transform: uppercase !important;
    padding: 10px !important;
    color: #233048 !important;
    text-decoration: none !important;
}

.yuimenubaritemlabel::after {
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    top: 37px;
    width: 100%;
}

fieldset {
    padding: 3rem;
    border: 1px solid #E0E0E0;
    margin: 0rem;
}

table.tablesorter thead tr .header{
    padding: 1rem; 
    color: #233048;
}

.pager{
   margin: 1rem 0 1rem 0; 
}

table.tablesorter thead tr th{
    background-color: #FFD35D;
    border: 1px solid #cca847;
    font-size: 10pt;
    padding: 0 10px !important;
    height: 50px;
    text-align: center; 
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 2px;
    background-color: #FFF;
    vertical-align: middle;
    border: 1px solid #E0E0E0;
}

[class*="table_icon_"], a[onclick*=confirmDelete] {
    width: 22px;
    height: 30px;
    display: inline-block;
    background-size: 100%;
}

.table_icon_delete, a[onclick*=confirmDelete] {
    background-image: url("table_icon_delete.svg");
}

.table_icon_relation {
    background-image: url("table_icon_relation.svg");
}

.table_icon_report_view {
    background-image: url("table_icon_report_view.svg");
}

.table_icon_report_add {
    background-image: url("table_icon_report_add.svg");
}

[class^=table_icon_] img,
.materialize_button_tambah img,
.materialize_button_carian img,
.form_contents > td > input[src*="carian"] img,
a[onclick*=confirmDelete] img {
    display: none;
}

tbody tr.form_contents td input, tbody tr.form_contents td select {
    margin-bottom: 10px;
    padding: 6px;
}

tbody tr.form_contents td input,
tbody tr.form_contents td select,
tbody tr.form_contents td textarea {
    border: 1px solid #E0E0E0;
}

#pagedisplay {
    text-align: center;
    width: 70px;
}
    
table[width="95%"] table {
    width: 100%;
    border-spacing: 0px;
}

#pagesize{
    padding: 6px;
}

[style*=header_biru] {
    background-color: #233048 !important;
    background-image: url("navbar.png") !important;
}

[style*=header_biru] tbody tr[style*="70.0pt"] {
    background: #233048;
    height: 100px !important;   
}

[style*=header_biru] tbody tr[style*="70.0pt"] td {
    display: none;
}

[style*=header_biru] tbody tr[style*="10.0pt"] {
    background: #233048;
    height: 0px !important;   
}

[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div {
    position: absolute;
    right: 6px;
    top: 17px;
}

[style*="header_biru"] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > span:nth-of-type(1) {
    opacity: 0;
}

[style*="header_biru"] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > span:nth-of-type(1)::after {
    content:"\a";
    white-space: pre;
}

[style*="header_biru"] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > span:nth-of-type(3) {
    margin-right: 4px;
}

[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(2),
[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(2) span,
[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(3) {
    color: #233048 !important;
    text-decoration: none !important;
    display: inline-block !important;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden;
}

[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(2) span::after {
    width: 25px !important;
    height: 25px !important;
    background-image: url("nav_icon_tie.svg") !important;
    background-size: 100%;
    position: absolute;
    right: 47px;
    top: 46px;
    content: "";
    transition: all .3s ease-in-out;
}

[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(3)::after {
    width: 25px !important;
    height: 25px !important;
    background-image: url("nav_icon_lock.svg") !important;
    background-size: 100%;
    position: absolute;
    right: 9px;
    top: 46px;
    content: "";
    transition: all .3s ease-in-out;
}

[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(2) span:hover::after,
[style*=header_biru] tbody tr[style*="10.0pt"] td:nth-of-type(2) div > a:nth-of-type(3):hover::after {
    transform: scale(1.5);
}

.tipp {
    text-decoration: none !important;
}

.yuimenubar {
    background-color: transparent !important;
}

[class^=materialize_button], .form_contents > td > input[src*="carian"] {
    height: 0;
    width: 0;
    display: inline-block;
    padding: 18px 50px !important;
    color: #233048 !important;
    background-color: #FFD35D !important;
    border-radius: 4px !important;
    border: 1px solid #CCA847 !important;
    transition: all .3s ease-in-out;
    cursor: pointer !important;
    margin: 0 0 0 6px !important;
    transition: all .3s ease-in-out;
}

.materialize_button_carian, .form_contents > td > input[src*="carian"] {
    background-image: url("materialize_button_carian.svg");
}

.materialize_button_tambah {
    background-image: url("materialize_button_tambah.svg");
}

.materialize_button_kembali {
    background-image: url("materialize_button_kembali.svg");
}

.materialize_button_seterusnya {
    background-image: url("materialize_button_seterusnya.svg");
}

.materialize_button_selesai {
    background-image: url("materialize_button_selesai.svg");
}

.wizard {
    width: 250px;
    height: 208px;
    padding: 0px 20px 0 80px;
    color: black;
    font-size: 14px;
    font-family: Arial;
    position: relative;
    background-color: #EEEFF0;
}

.wizard:first-of-type, .wizard:last-of-type {
    height: 130px;
}

.wizard:first-of-type {
    padding-top: 20px !important;
}

.wizard:last-of-type {
    height: 179px;
}

.wizard .title::before {
    counter-increment: wizardcounter;
    content: counter(wizardcounter);
    color: white;
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 100%;
    padding-right: 2px;
    position: absolute;
    margin-left: -60px;
    background-repeat: no-repeat;
}

.wizard.current .title::before {
    line-height: 208px;
    margin-top: -79px;
    background-image: url("wizard_2_current.svg");
}

.wizard.completed .title::before {
    line-height: 208px;
    margin-top: -79px;
    background-image: url("wizard_2_completed.svg");
}

.wizard.disabled .title::before {
    line-height: 208px;
    margin-top: -79px;
    background-image: url("wizard_2_disabled.svg");
}

.wizard:first-of-type.current .title::before {
    line-height: 50px;
    margin-top: 0px;
    background-image: url("wizard_1_current.svg");
}

.wizard:first-of-type.completed .title::before {
    line-height: 50px;
    margin-top: 0px;
    background-image: url("wizard_1_completed.svg");
}

.wizard:first-of-type.disabled .title::before {
    line-height: 50px;
    margin-top: 0px;
    background-image: url("wizard_1_disabled.svg");
}

.wizard:last-of-type.current .title::before {
    background-image: url("wizard_3_current.svg");
}

.wizard:last-of-type.completed .title::before {
    background-image: url("wizard_3_completed.svg");
}

.wizard:last-of-type.disabled .title::before {
    background-image: url("wizard_3_disabled.svg");
}

.wizard:not(:first-of-type) .title {
    padding-top: 79px;
}

.wizard .desc {
    color: #737373;
}

.wizard.completed .desc::after {
    content: "";
    background-image: url("wizard_checked.svg");
    display: block;
    margin-top: 4px;
    width: 26px;
    height: 26px;
    position: absolute;
}

.body, td, th, input, select {
    font-size: 14px !important;
}

.yuimenu, .yuimenu ul {
    border: 0 !important;
    padding: 5px 0 !important;
    background-color: #2D2D2D !important;
}

.yuimenu {
    border-left: 1px solid #FFD35D !important;
}

#communication {
    left: -20px !important;
    top: 44px !important;
    box-shadow: 4px 4px 5px #888888 !important;
    border: 0 !important;
    background-color: #2D2D2D !important;
}

.yuimenuitemlabel, .yuimenuitemlabel-selected {
    font-size: 14px !important;
    color: white !important;
    text-decoration: none !important;
    padding: 5px 20px !important;
    background-color: #2D2D2D !important;
}

.yuimenuitemlabel-selected {
    color: #FFD35D !important;
}

.yuimenuitemlabel:hover, .yuimenuitemlabel-selected:hover {
    color: #FFD35D !important;
    text-decoration: none !important;
    background-color: #2D2D2D !important;
}

.yuimenubaritem-selected, .yuimenuitem-select {
    background-color: transparent !important;
}