/* tables */
table.tablesorter {
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: #CDCDCD;*/
	/*margin:10px 0pt 15px;*/
	font-size: 10pt;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #FEC517;/*#e6EEEE;*/
	border: 1px solid black;/*#FFF;*/
	font-size: 10pt;
	padding: 2px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: middle;
	border:1px solid black;
}
table.tablesorter tbody tr.odd td {
	background-color:lightgrey;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tr.odd { background-color: #E0E0E0; } 
table.tablesorter tr.over td { background-color:#FFFF99; } 
table.tablesorter tr.over2 td { background-color:#8dbdd8; } 

div.tablesorterPager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}

